/* 
    Created on : 27.sep.2016, 10:59:40
    Author     : Oscar Wika
*/

/* Tab Pane */
/* Background color of the tab pane */
.tab-header-area .tab-header-background {
    
}

/* Color of the tabs above the table */
.tab-pane .tab {
}

/* Color when mouseover on the tabs above the table */
.tab-pane .tab:hover {
}

/* Color of the currently selected tab*/
.tab-pane .tab:selected { 
}

/* Background color of the window */
.tab-pane {
    
}

/* Background color of the table (If it is empty)*/
.tab-pane .table-view {
    
}

/* Color of the rows in the tables */
.table-row-cell {
    
}

/* Color of the odd numbered rows in the tables */
.table-row-cell:odd {
    
}

/* Text color in the table */
.table-view .table-cell{
    
}

/*.button {
      -fx-background-color: 
          #707070,
          linear-gradient(#fcfcfc, #f3f3f3),
          linear-gradient(#f2f2f2 0%, #ebebeb 49%, #dddddd 50%, #cfcfcf 100%);
      -fx-background-insets: 0,1,2;
      -fx-background-radius: 3,2,1;
      -fx-padding: 2 20 2 20;
      -fx-text-fill: black;
      -fx-font-size: 12px;
*/

/*.button:hover {
       -fx-background-color: 
           #707070,
           linear-gradient(#fcfcfc, #f3f3f3),
           linear-gradient(#666666 0%, #656565 49%, #646464 50%, white 100%);
       -fx-background-insets: 0,1,2;
       -fx-background-radius: 3,2,1;
       -fx-padding: 2 20 2 20;  
       -fx-text-fill: black;
       -fx-font-size: 12px;
}*/

.button:pressed {
    -fx-background-color:green;
}









